{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <title>Stones2Milestones NewsApp</title>

</head>
  <body>
      <nav class="navbar form-inline" style="background: #ffffff!important;">
            <a class="navbar-brand font-weight-bold" href="{% url 'news-home' %}"><img style="width: 200px;" src="https://assets.website-files.com/5f421616b5a84bc78535aa88/5f424c5ea9fdcc943be63995_s2mblacklogo.svg"></a>
            <div>
              <a class="addNewsButton" href="{% url 'news-home' %}">Home</a>
              <a class="addNewsButton" href="{% url 'news-create' %}"><i class="fa fa-plus"></i> Add News</a>
            </div>
        </nav>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}
        {% block content %}
          
        {% endblock  %}
      </div> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>        
        <script>
            window.setTimeout(function() {
                $('.alert').remove();
            }, 3000);
        </script>
      </body>
</html>
